/*Cuentos*/

body{
    background-color:black;
    } 
   
    .contenedor{
   background-color:white;
 
   width: 1100px;
    margin: 0px auto;
} 
         
  
h1{
     /* margin: 0px 30px 0px 30px;*/
      border: 5px dotted gray;
      font-weight: bold;
      font-size: 25px; 
      background-color: white;
      color: black;
      text-align: center;

}


#cuento{
border: 5px dotted yellow;
margin: 70px 0px 0px 0px;
    background-color:white;
    color:black;
    font-size: 25px; 
    text-align: left;
float:rigth;
}

span{
   width:500px;
   font-weight: bold;


}

#imagenes{

   width: 1100px;
    height: 350px;

}

#texto{
border: 5px dotted yellow;
margin: 10px 10px 0px 10px;
    background-color:white;
    color:black;
    font-size: 15px; 
    text-align: left;
float:rigth;
}
