body{
    background-image: url(/imagenes/fondon.jpg);

    } 
   
    .contenedor{
 color: white;
   background-color:black;
 
   width: 1200px;
    margin: 0px auto;
} 
    
      
   .menu{
    display: inline-block;
    font-weight: bold;
    font-size: 25px; 
    margin: 10px 50px 10px 18px;
    background-color: black;
    color: white;  
    text-decoration: none;}

.menu:hover,  .menu:active{
    color: yellow;
   margin: 0px 0px 0px 50px;
  text-decoration: underline;

    
}



#imagenes{

   width: 1200px;
    height: 350px;

}
h1{
      margin: 5px 5px 5px 5px;
      padding: 5px 0px 0px 5px;
      font-weight: bold;
      font-size: 25px; 
      background-color: white;
      color: black;
      text-align: center;

}

h2{
      font-weight: bold;
      font-size: 20px; 
      background-color: white;
      color: black;
      text-align: center;

}

.biografia{

	background-color:white;
	border: 5px dotted yellow;
	margin: 70px 0px 0px 0px;
	padding: 15px 15px 15px 15px;
    color:black;
    font-size: 25px; 
    float:rigth;
    text-align: justify;
    

   }
   
.citas{
    font-size:  20px; 
    text-align: justify;
   }
  

   
  
.obras{
	overflow: scroll;
	background-color:white;
	border: 5px dotted yellow;
	margin: 70px 20px 0px 0px;
	padding: 15px 15px 15px 15px;
    color:black;
    font-size: 25px; 
    float:rigth;
    text-align: justify;
    width: 1150px;
    height:500px;
   }   
   
   .influencias{
    margin: 70px 20px 0px 0px;
	padding: 15px 15px 15px 15px;
    overflow: scroll;
    font-size:  25px; 
    text-align: justify;
    width: 1150px;
    height:500px;
   }
    
    .bibliografia{
	    font-size:  15px; 
        text-align: justify;
         margin: 70px 20px 0px 0px;
       }
     
    .cuento{
        text-align: justify;
        margin: 70px 20px 0px 0px;
        padding: 15px 15px 15px 15px;
        overflow: scroll;
		font-size:  15px; 
		width: 1170px;
		height:800px;
       }   
       
        .opinion{
	        text-align: justify;
       }  
        .glosario{
	        text-align: justify;
       } 

#foto{
border: 5px dotted yellow;
margin: 150px 100px 50px 100px;


 height: 500px;
float:left;
}



span{
   
   font-weight: bold;
   width:50px;
   color: white;
   background-color:black;

}

